config.py
/databases/
/.vscode/
/test/*
/result/*
/result_old/*
/old_result/*
/.cache/*
src/chromedriver
**/__pycache__/
**/workspace/
*.pyc
/llm4plc_results/*
/LLM4PLC_reproduce/log/*
/LLM4PLC_reproduce/result/*
/dataset/
/database/


src/matiec/
src/nuXmv-2.0.0-Linux/
src/rusty/
prompts/verify_agent_old
/workspace/




